<%= form_for(@iconographic_attribute) do |f| %>
  <% if @iconographic_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iconographic_attribute.errors.count, "error") %> prohibited this iconographic_attribute from being saved:</h2>

      <ul>
      <% @iconographic_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name , class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
