<h1>Listing iconographic_attributes</h1>

<%= link_to 'New Iconographic attribute', new_iconographic_attribute_path %>


<div id="incono">
  <input class="search" placeholder="Buscar" />

  <button class="sort" data-sort="nombre">
    Ordenar por Nombre
  </button>

  <table  class="table table-bordered table-condensed table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
    </thead>

    <tbody class="list">
    <% @iconographic_attributes.each do |iconographic_attribute| %>
      <tr>
        <td class="nombre"><%= iconographic_attribute.name %></td>
        <td><%= link_to 'Show', iconographic_attribute %></td>
        <td><%= link_to 'Edit', edit_iconographic_attribute_path(iconographic_attribute) %></td>
        <td><%= link_to 'Destroy', iconographic_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
    var options = {
        valueNames: ['nombre']
    };

    var userList = new List('incono', options);
</script>