<h1>Listing iconographic_attributes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iconographic_attributes.each do |iconographic_attribute| %>
      <tr>
        <td><%= iconographic_attribute.name %></td>
        <td><%= link_to 'Show', iconographic_attribute %></td>
        <td><%= link_to 'Edit', edit_iconographic_attribute_path(iconographic_attribute) %></td>
        <td><%= link_to 'Destroy', iconographic_attribute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iconographic attribute', new_iconographic_attribute_path %>
