<div class="control-group">
  <%= f.label :passage, :class => 'control-label' %> <small> <%= link_to "Crear pasage", new_passage_url %></small>
  <div class="controls">
    <%= f.collection_select :passage_id, Passage.all, :id, :name,  {:prompt => 'Seleccione el pasaje'} %>
  <% if params[:action] == "edit" %>
        <br>
        <%= check_box_tag  "delete_passage", true %>
        <%= f.label :_destroy , "Eliminar passage"%>
  <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
