<div class="control-group">
  <%= f.label :school, :class => 'control-label' %> <small><%= link_to "Crear escuela", new_school_url%></small>
  <div class="controls">
    <%= f.collection_select :school_id, School.all, :id, :name,  {:prompt => 'Seleccione la escuela'} %>
    <% if params[:action] == "edit" %>
        <br>
        <%= check_box_tag  "delete_school", true %>
        <%= f.label :_destroy , "Eliminar school"%>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
