<%= bootstrap_form_for(@artwork, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <% if @artwork.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#datos_generales" data-toggle="tab" aria-expanded="false">Datos generales</a></li>
    <li class=""><a href="#desc_img_rel" data-toggle="tab" aria-expanded="false">Descripción, Imagenes y relatos</a></li>
    <li class=""><a href="#personajes" data-toggle="tab" aria-expanded="false">Personajes</a></li>
    <li class=""><a href="#cuerpo_gestos" data-toggle="tab" aria-expanded="false">Cuerpo y gestos</a></li>
    <li class=""><a id="mapTab" href="#location" data-toggle="tab" aria-expanded="false">Lugar</a></li>
  </ul>
  <br>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="datos_generales">
        <%= image_tag @artwork.avatar.url(:large), :class => "img-thumbnail", :class => "img-responsive" %>
        <br>
        <div class="row">
        <div class="col-md-6">
          <%= f.file_field :avatar, label: "Imagen"%>
        </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.collection_select :author_id, Author.all, :id, :name,  {:prompt => 'Seleccione el author'} %>
          <%= f.text_field :activity%>
          <%= f.text_area :biographic_data%>
          <div class="row" id="checkboxes">
            <div class="col-md-6">
              <div class="col-md-6">
                <%= f.label :signed%>
              </div>
              <%= f.check_box_without_bootstrap :signed%>
            </div>
            <div class="col-md-6">
              <div class="col-md-6">
                <%= f.label :color%>
              </div>
              <%= f.check_box_without_bootstrap :color%>
            </div>
          </div>
          <%= f.text_area :activity, :class => 'form-control' %>
        </div>
        <div class="col-md-6">
            <%= f.select(:category_1_id, @categories_for_select_1, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_2_id, @categories_for_select_2, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_3_id, @categories_for_select_3, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_4_id, @categories_for_select_4, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_5_id, @categories_for_select_5, prompt: 'Select Category', :class => 'form-control') %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.collection_select :type_id, Type.all, :id, :name,  {:prompt => 'Seleccione el tipo'} %>
          <%= f.collection_select :source_id, Source.all, :id, :name,  {:prompt => 'Seleccione la fuente'} %>
          <%= f.collection_select :place_id, Place.all, :id, :name,  {:prompt => 'Seleccione el lugar'} %>
        </div>
        <div class="col-md-6">
          <%= f.collection_select :school_id, School.all, :id, :name,  {:prompt => 'Seleccione la escuela'} %>
          <%= f.collection_select :origin_id, Origin.all, :id, :name,  {:prompt => 'Seleccione el origen'} %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_area :synthesis, :class => 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :biographic_comment, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active in" id="desc_img_rel">
      <div class="row">
        <div class="col-md-6">
          <%= f.collection_select :scene_id, Scene.all, :id, :name,  {:prompt => 'Seleccione la escena'} %>
        <%= f.collection_select :story_type_id, StoryType.all, :id, :name,  {:prompt => 'Seleccione el tipo de historia'} %>
        <%= f.collection_select :donor_id, Donor.all, :id, :name,  {:prompt => 'Seleccione el donante'} %>
        <%= f.collection_select :phylactery_billboard_id, PhylacteryBillboard.all, :id, :name,  {:prompt => 'Cartelera Filacteria'} %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :comment, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active in" id="personajes">
    </div>

    <div class="tab-pane fade active in" id="cuerpos_gestos">
    </div>

    <div class="tab-pane fade active in" id="location">
    </div>

    
  </div>



    <%= f.submit :class => 'btn btn-primary' %>


    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),artworks_path(:parent_id =>params[:parent_id]) , :class => 'btn btn-default' %>


<% end %>

<%=	 debug (params) %>

<%=	 params.inspect %>
