<div class="control-group">
  <%= f.label :scene, :class => 'control-label' %> <small> <%= link_to "Crear escena", new_scene_url%></small>
  <div class="controls">
    <%= f.collection_select :scene_id, Scene.all, :id, :name,  {:prompt => 'Seleccione la escena'} %>
    <% if params[:action] == "edit" %>
        <br>
        <%= check_box_tag  "delete_scene", true %>
        <%= f.label :_destroy , "Eliminar scene"%>

  <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
