<div class="control-group">
  <%= f.label :story_type, :class => 'control-label' %> <small><%= link_to "Crear tipo de historia", new_story_type_url%></small>
  <div class="controls">
    <%= f.collection_select :story_type_id, StoryType.all, :id, :name,  {:prompt => 'Seleccione el tipo de historia'} %>
    <% if params[:action] == "edit" %>
        <br>
        <%= check_box_tag  "delete_story_type", true %>
        <%= f.label :_destroy , "Eliminar story tyoe"%>
    <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
