<div class="control-group">
  <%= f.label :country, :class => 'control-label' %> <small> <%= link_to "Crear lugar", new_country_url%></small>
  <div class="controls">
    <%= f.collection_select :country_id, Country.all, :id, :name,  {:prompt => 'Seleccione el lugar'} %>
    <% if params[:action] == "edit" %>
        <br>
        <%= check_box_tag  "delete_country", true %>
        <%= f.label :_destroy , "Eliminar place"%>
  <% end %>
  </div>
  <%= error_span(@artwork[:comment]) %>
</div>
