<%= bootstrap_form_for(@artwork, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
    <% if @artwork.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="row">
  <div class="col-sm-9">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#datos_generales" data-toggle="tab" aria-expanded="false">Datos generales</a></li>
    <li class=""><a href="#desc_img_rel" data-toggle="tab" aria-expanded="false">Descripción, Imagenes y relatos</a></li>
    <li class=""><a href="#personajes" data-toggle="tab" aria-expanded="false">Personajes</a></li>
    <li class=""><a href="#cuerpo_gestos" data-toggle="tab" aria-expanded="false">Cuerpo y gestos</a></li>
    <li class=""><a id="mapTab" href="#location" data-toggle="tab" aria-expanded="false">Lugar</a></li>
  </ul>
  <br>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="datos_generales">
      <div class="row">
        <div class="col-md-6">
          <%= f.file_field :avatar, label: "Imagen",class:"category"%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_field :title, label: "Titulo" %>
          <%= f.collection_select :author_id, Author.all, :id, :name,  {:prompt => 'Seleccione el author'} %>
          <%= f.text_field :activity%>
          <%= f.text_area :biographic_data%>
          <div class="form-group">
            <%= f.label :signed, class: "control-label col-sm-2"%>
            <div class="col-md-10">
                <%= f.check_box_without_bootstrap :signed%>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <%= f.select(:category_1_id, @categories_for_select_1, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_2_id, @categories_for_select_2, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_3_id, @categories_for_select_3, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_4_id, @categories_for_select_4, prompt: 'Select Category', :class => 'form-control') %>
            <%= f.select(:category_5_id, @categories_for_select_5, prompt: 'Select Category', :class => 'form-control') %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.collection_select :type_id, Type.all, :id, :name,  {:prompt => 'Seleccione el tipo'} %>
          <%= f.collection_select :source_id, Source.all, :id, :name,  {:prompt => 'Seleccione la fuente'} %>
          <%= f.collection_select :place_id, Place.all, :id, :name,  {:prompt => 'Seleccione el lugar'} %>
        </div>
        <div class="col-md-6">
          <%= f.collection_select :school_id, School.all, :id, :name,  {:prompt => 'Seleccione la escuela'} %>
          <%= f.collection_select :origin_id, Origin.all, :id, :name,  {:prompt => 'Seleccione el origen'} %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <%= f.text_area :synthesis, :class => 'form-control' %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :biographic_comment, :class => 'form-control' %>
        </div>
      </div>
    </div>



    <div class="tab-pane fade in" id="desc_img_rel">
      <div class="row">
        <div class="col-md-6">
        <%= f.collection_select :scene_id, Scene.all, :id, :name,  {:prompt => 'Seleccione la escena'} %>
        <%= f.collection_select :story_type_id, StoryType.all, :id, :name,  {:prompt => 'Seleccione el tipo de historia'} %>
        <%= f.collection_select :donor_id, Donor.all, :id, :name,  {:prompt => 'Seleccione el donante'} %>
        <%= f.collection_select :phylactery_billboard_id, PhylacteryBillboard.all, :id, :name,  {:prompt => 'Cartelera Filacteria'} %>
        </div>
        <div class="col-md-6">
          <%= f.text_area :comment, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade in" id="personajes">
    </div>

    <div class="tab-pane fade in" id="cuerpos_gestos">
    </div>

    <div class="tab-pane fade in" id="location">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-2">
              <label style="text-align: right">Lugar de origen</label>
            </div>
            <div class="col-sm-10">
              <div id="mapOrigin" class="well"></div>
            </div>
          </div>
          <%= f.text_field :longitude_origin %>
          <%= f.text_field :latitude_origin %>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-2">
              <label style="text-align: right">Lugar actual</label>
            </div>
            <div class="col-sm-10">
              <div id="mapCurrent" class="well"></div>
            </div>
          </div>
          <%= f.text_field :longitude_current %>
          <%= f.text_field :latitude_current %>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="col-sm-3">
    <%= image_tag @artwork.avatar.url(:large), :class => "img-thumbnail", :class => "img-responsive", :style => "margin-left: auto; margin-right: auto;" %>
  </div>
  </div>
    <%= f.submit :class => 'btn btn-primary' %>


    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),artworks_path(:parent_id =>params[:parent_id]) , :class => 'btn btn-default' %>


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
    </script>
    <script>
        function initialize() {
            infowindow = new google.maps.InfoWindow();
            var latlngOrigin = new google.maps.LatLng(<%= @artwork.latitude_origin %>,<%= @artwork.longitude_origin %>);
            var latlngCurrent = new google.maps.LatLng(<%= @artwork.latitude_current %>,<%= @artwork.longitude_current %>);

            var originProp = {
                disableDefaultUI: true,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.DEFAULT,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                center: latlngOrigin,
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var currentProp = {
                disableDefaultUI: true,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.DEFAULT,
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                center: latlngCurrent,
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var mapOrigin = new google.maps.Map(document.getElementById("mapOrigin"), originProp);
            $("#mapTab").on('shown.bs.tab', function() {

                /* Trigger map resize event */
                google.maps.event.trigger(mapOrigin, 'resize');
                mapOrigin.setCenter(latlngOrigin);
            });
            var mapCurrent = new google.maps.Map(document.getElementById("mapCurrent"), currentProp);
            $("#mapTab").on('shown.bs.tab', function() {

                /* Trigger map resize event */
                google.maps.event.trigger(mapCurrent, 'resize');
                mapCurrent.setCenter(latlngCurrent);
            });

            $("#mapOrigin").css("width", '100%').css("height", 400);
            var markerOrigin = new google.maps.Marker({
                position: latlngOrigin,
                map: mapOrigin,
                draggable:true,
                icon: pinSymbol("#A12E33"),
                title: 'Ubicación de origen'
            });
            $("#mapCurrent").css("width", '100%').css("height", 400);
            var markerCurrent = new google.maps.Marker({
                position: latlngCurrent,
                map: mapCurrent,
                draggable:true,
                icon: pinSymbol("#F15E00"),
                title: 'Ubicación actual'
            });

            google.maps.event.addListener(markerOrigin, 'dragend', function(evt){
                $('#artwork_latitude_origin').val(evt.latLng.lat());
                $('#artwork_longitude_origin').val(evt.latLng.lng());
            });
            google.maps.event.addListener(markerCurrent, 'dragend', function(evt){
                $('#artwork_latitude_current').val(evt.latLng.lat());
                $('#artwork_longitude_current').val(evt.latLng.lng());
            });

            google.maps.event.addListener(marker, 'click', function () {
                onItemClick(event, marker);
                onItemClick(event, markerCurrent);
            });

            function onItemClick(event, marker) {
                // Create content
                var contentString = marker.title;

                // Replace our Info Window's content and position
                infowindow.setContent(contentString);
                infowindow.setPosition(marker.position);
                infowindow.open(map);
            }

            function pinSymbol(color) {
                return {
                        path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                        fillColor: color,
                        fillOpacity: 1,
                        strokeColor: '#000',
                        strokeWeight: 2,
                        scale: 1
                        };
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>
