<div class="control-group">
  <%=	 ff.fields_for :engravings do |engravings_fields| %>
      <%= engravings_fields.label :name, "engravings" , :class => 'control-label' %>
      <div class="controls">
        <%= engravings_fields.text_area :name%>
        <% if params[:action] == "edit" %>
            <br>
            <%= engravings_fields.check_box :_destroy %>
            <%= engravings_fields.label :_destroy , "Eliminar engravings"%>
        <% end %>
      </div>
  <% end %>
  <%= error_span(@artwork[:artwork_symbol]) %>
</div>