<%= form_for @artwork, :html => { :multipart => true, :class => "form-horizontal artwork" } do |f| %>

    <% if @artwork.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@artwork.errors.count, "error") %> prohibited this artwork from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @artwork.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :author, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :author, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:author]) %>
  </div>
  <div class="control-group">
    <%= f.label :activity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:activity]) %>
  </div>
  <div class="control-group">
    <%= f.label :biographic_data, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :biographic_data, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:biographic_data]) %>
  </div>
  <div class="control-group">
    <%= f.label :signed, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :signed, [['Yes', 'Yes'], ['No', 'No']], :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:signed]) %>
  </div>
  <div class="control-group">
    <%= f.label :synthesis, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :synthesis, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:synthesis]) %>
  </div>
  <div class="control-group">
    <%= f.label :biographic_comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :biographic_comment, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:biographic_comment]) %>
  </div>
  <div class="control-group">
    <%= f.label :annotation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :annotation, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:annotation]) %>
  </div>
  <div class="control-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar, :class => 'form-control' %>
      </div>
      <%= error_span(@artwork[:avatar]) %>
  </div>
  <div class="control-group">
    <%= f.label :sub_image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sub_image, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:sub_image]) %>
  </div>
  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comment, :class => 'form-control' %>
    </div>
    <%= error_span(@artwork[:comment]) %>
  </div>

    <div class="row">

      <div class="col-md-3 portfolio-item">
        <%= render 'form_descriptions' , :ff => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_iconographic_attributes' , :ff => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_artwork_symbols' , :ff => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_engravings', :ff => f %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 portfolio-item">
        <%= render 'form_passage', :f => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_place', :f => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_scene', :f => f %>
      </div>

      <div class="col-md-3 portfolio-item">
        <%= render 'form_type', :f => f %>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 portfolio-item">
        <%= render 'form_source', :f => f %>
      </div>
      <div class="col-md-3 portfolio-item">
        <%= render 'form_origin', :f => f %>
      </div>
      <div class="col-md-3 portfolio-item">
        <%= render 'form_donor', :f => f %>
      </div>
      <div class="col-md-3 portfolio-item">
        <%= render 'form_phylactery_billboard', :f => f %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 portfolio-item">
        <%= render 'form_story_type', :f => f %>
      </div>
      <div class="col-md-3 portfolio-item">
        <%= render 'form_school', :f => f %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :latitude_origin, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :latitude_origin, :class => 'form-control' %>
      </div>
      <%= error_span(@artwork[:latitude_origin]) %>
    </div>

    <div class="control-group">
      <%= f.label :latitude_current, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :latitude_current, :class => 'form-control' %>
      </div>
      <%= error_span(@artwork[:latitude_current]) %>
    </div>

    <div class="control-group">
      <%= f.label :longitude_origin, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :longitude_origin, :class => 'form-control' %>
      </div>
      <%= error_span(@artwork[:longitude_origin]) %>
    </div>

    <div class="control-group">
      <%= f.label :longitude_current, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :longitude_current, :class => 'form-control' %>
      </div>
      <%= error_span(@artwork[:longitude_current]) %>
    </div>

    <div class="control-group">
      <%= select("category", "1", options_for_select(@categories_first_level), {:prompt => 'Seleccione Categoria'}) %>
      <%= select("category", "2", options_for_select(@categories_for_dropdown), {:prompt => 'Seleccione Categoria'}) %>
      <%= select("category", "3", options_for_select(@categories_for_dropdown), {:prompt => 'Seleccione Categoria'}) %>
      <%= select("category", "4", options_for_select(@categories_for_dropdown), {:prompt => 'Seleccione Categoria'}) %>
      <%= select("category", "5", options_for_select(@categories_for_dropdown), {:prompt => 'Seleccione Categoria'}) %>
      <%= select("category", "6", options_for_select(@categories_for_dropdown), {:prompt => 'Seleccione Categoria'}) %>
    </div>

    <br>

    <% if params[:action] == 'edit' %>
        <%= link_to t('.agregar categorias', :default => t("helpers.links.categories_add")),
                    new_artwork_category_path(:artwork_id => @artwork.id), :class => 'btn btn-info' %>
    <%end%>

    <%= f.submit :class => 'btn btn-primary' %>

    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),

    artworks_path, :class => 'btn btn-default' %>

<% end %>

<%=	 debug (params) %>

<%=	 params.inspect %>
