<%- model_class = Artwork -%>

<!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Obras
        <!-- < %=t '.title', :default => model_class.model_name.human.pluralize.titleize %>-->
        <small>Categoria: <%= Category.find(params[:topic]).name %></small>
      </h1>
    </div>
  </div>


<!-- Blog Categories Well -->
<div class="col-md-4">

  <div class="well">
    <h4>Artistas</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <% @authors.values.each  do |author| %>
              <li>
                <%=	link_to  "#{author.name}" ,artworks_path(:params => params.merge(:authors => author.id))  %>
              </li>
          <% end %>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>

  <div class="well">
    <h4>Clasificación</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <% @clasifications.values.each  do |objeto| %>
              <li>
                <%=	link_to  "#{objeto.name}" ,artworks_path(:params => params.merge(:category => objeto.id))  %>
              </li>
          <% end %>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>

  <div class="well">
    <h4>Lugares</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          <% @places.values.each  do |objeto| %>
              <li>
                <%=	link_to  "#{objeto.name}" ,artworks_path(:params => params.merge(:place => objeto.id))  %>
              </li>
          <% end %>
          </li>
        </ul>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
</div>

<!-- Page Content -->
<div class="container">

  <% i = 0 %>
  <% @artworks.each  do |artwork| %>
        <% if i == 0 then %>
            <div class="row">
        <% end %>
              <div class="col-md-3 portfolio-item">
                <a href="<%= artwork_path(artwork) %>">
                  <div>
                    <%= image_tag artwork.avatar.url(:thumb) %>
                  </div>
                </a>
                <p class="text-muted">
                  <a href="<%= artwork_path(artwork) %>"><%= artwork.title %></a>
                </p>
                <p><%= artwork.author.name %></p>
              </div>

        <% i += 1 %>
        <% if i == 4 then %>
          <% i = 0 %>
          </div>
        <% end %>

  <% end %>

</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_artwork_path(:parent_id =>params[:parent_id]),
            :class => 'btn btn-primary' %>


<% content_for :css_application do %>
    <%= stylesheet_link_tag "artworks" %>
<% end %>
