<%- model_class = Artwork -%>

<div class="page-header row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <h1 class="uppercase">
      Obras <small>Region: <%= Country.where(:name =>params[:region_show]).first.name %></small>
    </h1>
  </div>
</div>

<div id="Regions">
  <div class="container">
    <!-- Seccion de filtros-->
    <div class="col-md-3">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <!-- fILTRO DE TEMAS -->
        <div class="panel panel-default" style="margin-top: 0px">
          <div class="panel-heading" role="tab" id="headingTemas">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTemas" aria-expanded="true" aria-controls="collapseTemas">
                <%= link_to  '&#8226 Temas'.html_safe, artworks_path+"?topic=true" %>
              </a>
            </h4>
          </div>
        </div>

        <!-- fILTRO DE AUTORES -->
        <div class="panel panel-default" style="margin-top: 0px">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <%= link_to  '&#8226 Autores'.html_safe, artworks_path+"?authors=true" %>
              </a>
            </h4>
          </div>
        </div>

        <!-- fILTRO DE REGIONES -->
        <div class="panel panel-default" style="margin-top: 0px">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <%= link_to '&#8226 Regiones'.html_safe, artworks_path+"?region=true" %>
              </a>
            </h4>
          </div>
        </div>

        <!-- fILTRO DE OBRAS -->
        <div class="panel panel-default" style="margin-top: 0px">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                &#8226 Obras
              </a>
            </h4>
          </div>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body" >

            <!-- Filtros de Lugar-->
            <div id="collapseTemas" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTemas">
              <div class="panel-body">

                <div class="panel-group" id="accordionLugar" role="tablist" aria-multiselectable="true">

                  <div class="panel panel-default" style="margin-top: 0px">

                    <div class="panel-heading" role="tab" id="headingArtistasLugar">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionLugar" href="#collapseArtistasLugar" aria-expanded="true" aria-controls="collapseArtistasLugar">
                          + Artistas
                        </a>
                      </h4>
                    </div>

                    <div id="collapseArtistasLugar" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingArtistasLugar">
                      <div class="panel-body">
                        <ul class="list-unstyled">
                          <% @authors.values.each  do |author| %>
                              <li>
                                <%= link_to  "#{author.name}" ,artworks_path(:params => params.merge(:authors => author.id))  %>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" style="margin-top: 0px">
                    <div class="panel-heading" role="tab" id="headingClasificacionObra">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionLugar" href="#collapseClasificacionObra" aria-expanded="true" aria-controls="collapseClasificacionObra">
                          + Clasificación
                        </a>
                      </h4>
                    </div>
                    <div id="collapseClasificacionObra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingClasificacionObra">
                      <div class="panel-body">
                        <ul class="list-unstyled">
                          <% @clasifications.values.each  do |objeto| %>
                              <li>
                                <%= link_to  "#{objeto.name}" ,artworks_path(:params => params.merge(:category => objeto.id))  %>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="panel panel-default" style="margin-top: 0px">
                    <div class="panel-heading" role="tab" id="headingClasificacionLugar">
                      <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionLugar" href="#collapseClasificacionLugar" aria-expanded="true" aria-controls="collapseClasificacionLugar">
                          + Lugar
                        </a>
                      </h4>
                    </div>
                    <div id="collapseClasificacionLugar" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingClasificacionLugar">
                      <div class="panel-body">
                        <ul class="list-unstyled">
                          <% @countries.values.each  do |objeto| %>
                              <li>
                                <%= link_to  "#{objeto.name}" ,artworks_path(:params => params.merge(:country => objeto.id))  %>
                              </li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-9 text-center">
      <% i = 0 %>
      <% @artworks.each  do |artwork| %>
        <% if i == 0 then %>
            <div class="row">
        <% end %>
              <div class="col-md-3 portfolio-item">
                <a href="<%= artwork_path(artwork) %>">
                  <div>
                    <% if artwork.avatar.exists?%>
                        <%= image_tag artwork.avatar.url(:thumb) %>
                    <% else %>
                        <%= image_tag artwork.avatar.url(:thumb) , :width => 150, :height => 150 %>
                    <% end %>
                  </div>
                </a>
                <h4>
                  <a href="<%= artwork_path(artwork) %>"><%= artwork.title %></a>
                </h4>
                <p><%= artwork.author.name %></p>
              </div>

            <% i += 1 %>
            <% if i == 4 then %>
              <% i = 0 %>
              </div>
            <% end %>

      <% end %>
    </div>
</div>
</div>




<% content_for :css_application do %>
    <%= stylesheet_link_tag "artworks" %>
<% end %>

