
<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">

    <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-3 text-center">
            <h2 class="section-heading text-left">Temas</h2>
          </div>
        </div>
      <!-- Seccion de filtros-->
      <div class="col-md-3">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default" style="margin-top: 0px">
            <div class="panel-heading" role="tab" id="headingTemas">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTemas" aria-expanded="true" aria-controls="collapseTemas">
                  &#8226 Temas
                </a>
              </h4>
            </div>
          </div>

          <div class="panel panel-default" style="margin-top: 0px">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <%= link_to  '&#8226 Autores'.html_safe, artworks_path+"?authors=true" %>
                </a>
              </h4>
            </div>
          </div>

          <div class="panel panel-default" style="margin-top: 0px">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <%= link_to '&#8226 Regiones'.html_safe, artworks_path+"?region=true" %>
                </a>
              </h4>
            </div>
          </div>

          <div class="panel panel-default" style="margin-top: 0px">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <%= link_to  '&#8226 Obras'.html_safe, artworks_path%>
                </a>
              </h4>
            </div>
          </div>

        </div>
      </div>

        <div class="col-md-9 text-center">

            <% i = 0 %>
            <% Category.roots.each do |category| %>

                <% if i == 0 then %>
                    <div class="row">
                <% end %>

                <div class="col-md-3 col-sm-3 portfolio-item">
                  <a href="<%= artworks_path(:topic => category) %>" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img src= "<%= image_url 'categorias/'+I18n.transliterate((category.name.to_s).downcase.tr(' ', '_'))+'.jpg' %>" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                    <p class="text-muted"><%= category.name %></p>
                  </div>
                </div>

                <% i += 1 %>
                <% if i == 4 then %>
                    <% i = 0 %>
                    </div>
                <% end %>

            <% end %>

        </div>
    </div>

</section>

