<%- model_class = Artwork -%>


<div class="page-header row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <h2 class="uppercase"><%= @artwork.title %>
    <small><%= @artwork.category_1.name if @artwork.category_1%></small>
    </h2>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default" style="margin-top: 0px">
        <div class="panel-heading" role="tab" id="headingTemas">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTemas" aria-expanded="true" aria-controls="collapseTemas">
              &#8226 Temas
            </a>
          </h4>
        </div>
      </div>

      <div class="panel panel-default" style="margin-top: 0px">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <%= link_to  '&#8226 Autores'.html_safe, artworks_path+"?authors=true" %>
            </a>
          </h4>
        </div>
      </div>

      <div class="panel panel-default" style="margin-top: 0px">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <%= link_to '&#8226 Regiones'.html_safe, artworks_path+"?region=true" %>
            </a>
          </h4>
        </div>
      </div>

      <div class="panel panel-default" style="margin-top: 0px">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= link_to  '&#8226 Obras'.html_safe, artworks_path%>
            </a>
          </h4>
        </div>
      </div>

    </div>
  </div>

  <div class="col-sm-3">
    <a type="href" data-toggle="modal" data-target="#imageModal" href="">
      <%= image_tag(@artwork.avatar.url(:large), :class => "img-thumbnail", :class => "img-responsive", :style => "margin-left: auto; margin-right: auto;") %>
    </a>
    <div class="img_title"><%= @artwork.get_title  %><br><%= @artwork.get_author_name  %></div>
  </div>

  <div class="col-sm-6">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#datos_generales" data-toggle="tab" aria-expanded="false">Datos</a></li>
      <li class=""><a href="#desc_img_rel" data-toggle="tab" aria-expanded="false">Descripción</a></li>
      <li class=""><a href="#personajes" data-toggle="tab" aria-expanded="false">Personajes</a></li>
      <li class=""><a href="#cuerpo_gestos" data-toggle="tab" aria-expanded="false">Gestos</a></li>
      <li class=""><a id="mapTab" href="#location" data-toggle="tab" aria-expanded="false">Lugar</a></li>
    </ul>
    <br>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="datos_generales" style="padding-left: 15px">
        <div class="container" style="width: inherit">
          <div class="row">
            <label class="control-label col-sm-3">Titulo</label>
            <div class="col-sm-9"><%= @artwork.get_title%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Autor</label>
            <div class="col-sm-9"><%=@artwork.get_author_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Actividad</label>
            <div class="col-sm-9"><%=@artwork.get_activity%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Información Biográfica</label>
            <div class="col-sm-9"><%=@artwork.get_biographic_data%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Firmado</label>
            <div class="col-sm-9"><%=@artwork.get_signed%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Tipo</label>
            <div class="col-sm-9"><%=@artwork.get_type_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Fuente</label>
            <div class="col-sm-9"><%=@artwork.get_source_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">País de origen</label>
            <div class="col-sm-9"></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Escuela</label>
            <div class="col-sm-9"><%=@artwork.get_school_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Lugar de Origen</label>
            <div class="col-sm-9"></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Sintesis</label>
            <div class="col-sm-9"><%=@artwork.get_synthesis%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Categoría 1</label>
            <div class="col-sm-9"><%=@artwork.get_category_1_name if @artwork.category_1%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Categoría 2</label>
            <div class="col-sm-9"><%=@artwork.get_category_2_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Categoría 3</label>
            <div class="col-sm-9"><%=@artwork.get_category_3_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Categoría 4</label>
            <div class="col-sm-9"><%=@artwork.get_category_4_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Categoría 5</label>
            <div class="col-sm-9"><%=@artwork.get_category_5_name%></div>
          </div>
        </div>

      </div>
      <div class="tab-pane fade in" id="desc_img_rel">
        <div class="container" style="width: inherit">
          <div class="row">
            <label class="control-label col-sm-3">Escena</label>
            <div class="col-sm-9"><%=@artwork.get_scene_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Tipo de relato</label>
            <div class="col-sm-9"><%=@artwork.get_story_type_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Donante</label>
            <div class="col-sm-9"><%=@artwork.get_donor_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Cartelera Filacteria</label>
            <div class="col-sm-9"><%=@artwork.get_phylactery_billboard_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Atributo iconografico</label>
            <div class="col-sm-9"><%=@artwork.get_iconographic_attribute_name%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Comentarios</label>
            <div class="col-sm-9"><%=@artwork.get_comment%></div>
          </div>
          <div class="row">
            <label class="control-label col-sm-3">Símbolos</label>
            <div class="col-sm-10">
              <table class="table table-condensed table-hover table-striped">

                <tbody>

                <% @artwork.artwork_symbols.each  do |sym| %>
                    <tr><td><%= sym.name %></td></tr>
                <% end %>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade in" id="location">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <label style="text-align: left">Lugar de origen</label>
              </div>
              <div class="col-sm-12">
                <div id="mapOrigin" class="well"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-3">Latitud</label>
              <div class="col-sm-9"><%=@artwork.latitude_origin%></div>
            </div>
            <div class="row">
              <label class="control-label col-sm-3">Longitud</label>
              <div class="col-sm-9"><%=@artwork.longitude_origin%></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-sm-12">
                <label style="text-align: right">Lugar actual</label>
              </div>
              <div class="col-sm-12">
                <div id="mapCurrent" class="well"></div>
              </div>
            </div>
            <div class="row">
              <label class="control-label col-sm-3">Latitud</label>
              <div class="col-sm-9"><%=@artwork.latitude_current%></div>
            </div>
            <div class="row">
              <label class="control-label col-sm-3">Longitud</label>
              <div class="col-sm-9"><%=@artwork.longitude_current%></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
            artworks_path(@artwork,:parent_id => @artwork.category_1.id ) , :class => 'btn btn-default' if @artwork.category_1%>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_artwork_path(@artwork,:parent_id => @artwork.category_1.id) , :class => 'btn btn-default' if @artwork.category_1%>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            artwork_path(@artwork,:parent_id => @artwork.category_1.id) ,
            :method => 'delete',
            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
            :class => 'btn btn-danger' if @artwork.category_1%>

<!-- Modal for image view -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if @artwork.save %>
            <h4 class="modal-title" id="myModalLabel"><%= "#{@artwork.title} - #{@artwork.author.name} "%></h4>
        <% end %>
      </div>
      <div class="modal-body">
        <%= image_tag @artwork.avatar.url, :id => "zoomableImage", :class => "img-thumbnail", :class => "img-responsive", 'data-zoom-image' => @artwork.avatar.url, :style => "margin-left: auto; margin-right: auto;" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<style>
    .zoomContainer{ z-index: 9999;}
    .zoomWindow{ z-index: 9999;}
</style>
<script>
    //Zoomable Image with ElevateZoom
    $("#zoomableImage").elevateZoom({ zoomType  : "inner", cursor: "crosshair" });

    $('#imageModal').on('shown.bs.modal', function() {
        $("#zoomableImage").elevateZoom({
            zoomType  : "lens",
            lensShape : "round",
            lensSize : 200,
            scrollZoom : true,
            containLensZoom : true,
        });
    });

    jQuery('#imageModal').on('hidden.bs.modal', function (e) {
        jQuery.removeData(jQuery('#zoomableImage'), 'elevateZoom');//remove zoom instance from image
        jQuery('.zoomContainer').remove();// remove zoom container from DOM
    });



    //Google maps
    var initialize;
    initialize = function() {
        infowindow = new google.maps.InfoWindow();
        var latlngOrigin = new google.maps.LatLng(<%= @artwork.latitude_origin %>,<%= @artwork.longitude_origin %>);
        var latlngCurrent = new google.maps.LatLng(<%= @artwork.latitude_current %>,<%= @artwork.longitude_current %>);

        var originProp = {
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            center: latlngOrigin,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var currentProp = {
            disableDefaultUI: true,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
                position: google.maps.ControlPosition.RIGHT_TOP
            },
            center: latlngCurrent,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var mapOrigin = new google.maps.Map(document.getElementById("mapOrigin"), originProp);
        $("#mapTab").on('shown.bs.tab', function() {

            /* Trigger map resize event */
            google.maps.event.trigger(mapOrigin, 'resize');
            mapOrigin.setCenter(latlngOrigin);
        });
        var mapCurrent = new google.maps.Map(document.getElementById("mapCurrent"), currentProp);
        $("#mapTab").on('shown.bs.tab', function() {

            /* Trigger map resize event */
            google.maps.event.trigger(mapCurrent, 'resize');
            mapCurrent.setCenter(latlngCurrent);
        });

        $("#mapOrigin").css("width", '100%').css("height", 400);
        var markerOrigin = new google.maps.Marker({
            position: latlngOrigin,
            map: mapOrigin,
            draggable:false,
            icon: pinSymbol("#A12E33"),
            title: 'Ubicación de origen'
        });
        $("#mapCurrent").css("width", '100%').css("height", 400);
        var markerCurrent = new google.maps.Marker({
            position: latlngCurrent,
            map: mapCurrent,
            draggable:false,
            icon: pinSymbol("#F15E00"),
            title: 'Ubicación actual'
        });

        function pinSymbol(color) {
            return {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                fillColor: color,
                fillOpacity: 1,
                strokeColor: '#000',
                strokeWeight: 2,
                scale: 1
            };
        }
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    $(document).ready(initialize);
    $(initialize);
    $(document).on('page:load ready',initialize);
    $(document).on('ready', initialize);

</script>

<% content_for :css_application do %>
    <%= stylesheet_link_tag "artworks_show" %>
<% end %>