<h1>Listing work_art_symbols</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_art_symbols.each do |work_art_symbol| %>
      <tr>
        <td><%= work_art_symbol.name %></td>
        <td><%= link_to 'Show', work_art_symbol %></td>
        <td><%= link_to 'Edit', edit_work_art_symbol_path(work_art_symbol) %></td>
        <td><%= link_to 'Destroy', work_art_symbol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work art symbol', new_work_art_symbol_path %>
