<%= form_for(@body_gesture) do |f| %>
  <% if @body_gesture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@body_gesture.errors.count, "error") %> prohibited this body_gesture from being saved:</h2>

      <ul>
      <% @body_gesture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name, class:"form-control"   %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>