<h1>Listing body_gestures</h1>
<%= link_to 'New Body Gesture', new_body_gesture_path %>

<div id="body_gesture">
  <input class="search" placeholder="Buscar" />

  <button class="sort" data-sort="body_gesture">
    Ordenar por Gesto
  </button>
  <table  class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>Body Gesture</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="list">
        <% @body_gestures.each do |body_gesture| %>
          <tr>
            <td class="body_gesture"><%= body_gesture.name %></td>
            <td><%= link_to 'Show', body_gesture %></td>
            <td><%= link_to 'Edit', edit_body_gesture_path(body_gesture) %></td>
            <td><%= link_to 'Destroy', body_gesture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<script>
    var options = {
        valueNames: ['body_gesture']
    };

    var userList = new List('body_gesture', options);
</script>
