<%= form_for(@story_type) do |f| %>
  <% if @story_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_type.errors.count, "error") %> prohibited this story_type from being saved:</h2>

      <ul>
      <% @story_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name , class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
