<%= form_for(@phylactery_billboard) do |f| %>
  <% if @phylactery_billboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phylactery_billboard.errors.count, "error") %> prohibited this phylactery_billboard from being saved:</h2>

      <ul>
      <% @phylactery_billboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name , class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
