<h1>Listing phylactery_billboards</h1>
<%= link_to 'New Phylactery billboard', new_phylactery_billboard_path %>


<div id="phylac">
  <input class="search" placeholder="Buscar" />

  <button class="sort" data-sort="nombre">
    Ordenar por Nombre
  </button>

  <table  class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="list">
    <% @phylactery_billboards.each do |phylactery_billboard| %>
      <tr>
        <td class="nombre"><%= phylactery_billboard.name %></td>
        <td><%= link_to 'Show', phylactery_billboard %></td>
        <td><%= link_to 'Edit', edit_phylactery_billboard_path(phylactery_billboard) %></td>
        <td><%= link_to 'Destroy', phylactery_billboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
    var options = {
        valueNames: ['nombre']
    };

    var userList = new List('phylac', options);
</script>