<h1>Listing characters</h1>
<%= link_to 'New Character', new_character_path %>

<div id="character">
    <input class="search" placeholder="Buscar" />

    <button class="sort" data-sort="nombre">
        Ordenar por Nombre
    </button>

    <button class="sort" data-sort="death">
        Ordenar por fecha muerte
    </button>

    <button class="sort" data-sort="beatification">
        Ordenar por fecha beatification
    </button>
    <table  class="table table-bordered table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Biography</th>
          <th>Death date</th>
          <th>Beatification date</th>
          <th>Canonization date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="list">
        <% @characters.each do |character| %>
          <tr>
            <td class="nombre"><%= character.name %></td>
            <td class="biografia"><%= character.biography %></td>
            <td class="death"><%= character.death_date %></td>
            <td class="beatification"><%= character.beatification_date %></td>
            <td><%= character.canonization_date %></td>
            <td><%= link_to 'Show', character %></td>
            <td><%= link_to 'Edit', edit_character_path(character) %></td>
            <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<script>
    var options = {
        valueNames: ['nombre', 'biografia', 'death', 'beatification']
    };

    var userList = new List('character', options);
</script>
