<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Administración de base de datos</h2>
        <h3 class="section-subheading text-muted">PROYECTO ARCA (Arte Colonial Americano)</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form class="form-inline">
            <div class="form-group">
              <%=	 link_to "Administración de obras", artworks_admin_path  %>
              <br>
              <%=	 link_to "Administración de Autores", authors_path  %>
              <br>
              <%=	 link_to "Administración de atributos iconograficos", iconographic_attributes_path  %>
              <br>
              <%=	 link_to "Administración de simbolos", artwork_symbols_path  %>
              <br>
              <%=	 link_to "Administración de cartela filacteria", phylactery_billboards_path  %>
              <br>
              <%=	 link_to "Administración de grabados", engravings_path  %>
              <br>
              <%=	 link_to "Administración de descripciones",descriptions_path  %>
              <br>
              <%=	 link_to "Administración de escuelas", schools_path  %>
              <br>
              <%=	 link_to "Administración de tipos de historias", story_types_path  %>
              <br>
              <%=	 link_to "Administración de personajes", characters_path  %>
              <br>
              <%=	 link_to "Administración de pasajes", passages_path  %>
              <br>
              <%=	 link_to "Administración de donantes", donors_path  %>
              <br>
              <%=	 link_to "Administración de escenas", scenes_path  %>
              <br>
              <%=	 link_to "Administración de paises", countries_path  %>
              <br>
              <%=	 link_to "Administración de ciudades", cities_path  %>
              <br>
              <%=	 link_to "Administración de fuentes", sources_path  %>
              <br>
              <%=	 link_to "Administración de tipo de obra", types_path  %>
              <br>
              <%=	 link_to "Administración de categorias", categories_path  %>
              <br>
              <%=	 link_to "Administración de usuarios", users_admin_index_path  %>
              <br>
              <%=  link_to "Administración de Lugares", places_path  %>
              <br>
              <%=  link_to "Administración de Gestos", body_gestures_path %>

            </div>
        </form>
      </div>
    </div>
  </div>
</section>