<!DOCTYPE html>
<html lang="en">

    <%= yield :css_application %>
    <%= render 'head'%>

    <body id="page-top" class="index">
            <%= bootstrap_flash %>
            <!-- Page Content -->

            <% if params[:controller] == 'welcome' %>
                <%= render 'application/banner'%>
            <%else%>
                <%= render 'application/bannerShrink'%>
            <%end%>

            <%=yield :template_header%>

            <section class="contenido">
              <div class="container">
                <%= yield %>
              </div>
            </section>
    </body>

    <%= yield :js_application %>
    <%= render 'footer' %>
</html>