<!DOCTYPE html>
<html lang="en">
    <!--<p class="notice"><%= notice %> </p>
    <p class="alert"><%= alert %> </p>-->
    <%= yield :css_application %>
    <%= render 'head'%>

    <body id="page-top" class="index">
            <%= bootstrap_flash %>
            <!-- Page Content -->

            <%- if params[:controller] == 'welcome' -%>
                <%= render 'application/banner' -%>

                <header>
                  <div class="container">
                    <div class="intro-text">
                      <div class="intro-heading">ARCA<sup style="font-size: 42%;vertical-align: super">&reg</sup> </div>
                      <div class="intro-lead-in">- Cultura visual de las américas coloniales -</div>
                      <a href="#services" class="page-scroll btn btn-xl">Archivos Visuales</a>
                    </div>
                  </div>
                </header>


                <section class="contenido">
                    <div class="container"><%= yield %></div>
                </section>
            <%- else -%>
                <div id="wrapper">
                    <%= render 'application/bannerShrink' %>
                    <div class="page-wrapper">
                        <section class="contenido">
                            <div class="container"><%= yield %></div>
                        </section>
                    </div>
                </div>
            <%- end -%>

    </body>

    <%= yield :js_application %>
    <%= render 'footer' %>
</html>