<!DOCTYPE html>
<html lang="en">

    <%= yield :css_application %>
    <%= render 'head'%>

    <body>
        <div id="wrapper">
            <%= render 'topMenu'%>

            <%= bootstrap_flash %>
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
                    </div>
                <!-- /.col-lg-12 -->
                </div>
            <!-- /.row -->
            </div>

        </div>

    <%= render 'footer' %>

    <%= yield :js_application %>
    </body>
</html>